<script type="text/x-handlebars" data-template-name="/connectors/below-site-header/bcloud-button">
  <a href="https://buoyant.cloud" target="_blank">
    <button>Take me to BCloud</button>
  </a>
</script>